footer {
  background-color: #0f3460;
  padding: 50px 70px;
  color: #fff;
}

footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 500;
  font-style: italic;
}

footer .img {
  background-color: #0c2a4d;
  padding: 15px 20px;
  border-radius: 5px;
}

footer .img i {
  font-size: 24px;
  margin: 5px;
}

footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}

footer h2 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.icon-footer {
  cursor: pointer;
}

.logo-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px; /* Adds spacing between each item */
}

.logo-item img {
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
  margin-right: 8px; /* Space between logo and text */
}

.logo-item span {
  font-size: 16px; /* Adjust font size as needed */
  color: white; /* Customize text color */
}