.my-footer {
  background-color: #0f3460!important;
  padding: 50px 70px!important;
  color: #fff!important;
}

.my-footer-img {
  background-color: #0c2a4d!important;
  padding: 15px 20px!important;
  border-radius: 5px!important;
}

.my-footer-h2 {
  margin-bottom: 20px!important;
}

.my-footer-li {
  margin-bottom: 10px!important;
  opacity: 0.5!important;
  cursor: pointer!important;
}

.my-logo-container {
  list-style: none!important;
  padding: 0!important;
  margin: 0!important;
}

.my-logo-item {
  display: flex!important;
  align-items: center!important;
  margin-bottom: 16px!important; 
}

.my-logo-item-img {
  width: 24px!important;
  height: 24px!important;
  margin-right: 8px!important;
}

.my-logo-item-span {
  font-size: 16px!important;
  color: white!important;
}